body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #f4e1c1;
    padding: 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

.nav ul li a {
    text-decoration: none;
    color: black;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f7d79e;
    height: 100vh; /* Full viewport height */
    padding: 0 50px;
}

.hero-image {
    /* flex: 1; */
    height: 100%;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    background-color: #f7d79e;
    border: 1px solid black;
    scale: 1.1;
    transition: 0.5s ease-in-out ;
    color:#f7d79e; ;
    /* width:  */
}

.hero-image img {
    height: 100%;
    width: auto;
    object-fit: cover;
}

.hero-content {
    flex: 1;
    text-align: left;
    max-width: 50%;
    padding: 20px;
}

.hero-content h1 {
    font-size: 36px;
}

.hero-content p {
    font-size: 18px;
    margin: 20px 0;
}

.hero-content button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Stats Section */
.stats {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

/* About Section */
.about {
    background-color: #f4e1c1;
    padding: 40px;
}

/* Products Section */
.products {
    padding: 40px;
}

.product-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.product img {
    width: 150px;
}
